.forget-password{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.forget-password .form{
    display: block;
    margin-top: 200px;
    justify-content: center;
}

.forget-password .form h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.form .textfield-pw{
    display: flex;
    background-color: #fff;
    color: black;
    margin-left: 90px;
    margin-top: 50px;
    border-radius: 4px;
    width: 420px;
}

.form .button-class{
    display: flex;
    justify-content: center;
}


.forget-password .form .button-class .submit-button {
    background-color:  #287bff;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-radius: 30px ;
    margin-top: 10px;
    box-shadow:1px 1px 1px 1px #a7a2a2; 
    border: 1px solid #287bff; 
}

.forget-password .form .button-class .submit-button:hover {
    color: #287bff;
    background-color: rgb(255, 255, 255);
}

.form{
    padding-top: 5rem;
    background-color: #ffffff;
    width: 600px;
    height: 350px;
    border-radius: 35px;
    box-shadow: 0 20px 50px #3c8fdc; 
}