
.box-evaluation{
    display: flex;
    margin-left: 70px;
    margin-top: 10px;
    flex-direction: column;
    padding: 0;
    box-shadow: 0 4px 10px #3c8fdc;
    border-radius: 20px;
}

h2{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button-evalu{
    display: flex;
    justify-content: center;
}

.button-evalu .btn-evalu{
    display: block;
    background-color: #287bff;
    color: #fff;
    justify-content: space-between;
    margin: 40px;
    margin-top: 25px;
    margin-bottom: 5px;
    width: 200px;
    border-radius: 15px;
}

.button-evalu .btn-evalu:hover{
    color: #287bff;
    background-color: #fff;
}

.zone-text{
    width: 537px;
    margin-top: 15px;
    min-height: 150px;
}